aiohttp
async-timeout
attrs
beautifulsoup4
bs4
cachetools
certifi
cffi
chardet
click
colorama
discord
discord.py
ffmpeg-progress-yield
flake8
futures
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
googletrans
goslate
h11
h2
hpack
hstspreload
httpcore
httplib2
httpx
hyperframe
idna
mccabe
multidict
mutagen
numpy
oauthlib
packaging
pandas
Pillow
protobuf
pyasn1
pyasn1-modules
pycodestyle
pycparser
PyDictionary
pydub
pyflakes
PyNaCl
# pynormalize
pyparsing
python-dateutil
python-dotenv
pytz
requests
requests-oauthlib
rfc3986
rsa
six
sniffio
soupsieve
tqdm
typing-extensions
Unidecode
uritemplate
urllib3
yarl
